[Unit]
Description=MacNix SPICE Display
After=macnix-vm.service
Requires=macnix-vm.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/remote-viewer --full-screen spice://localhost:5930
User=macnix
Environment=DISPLAY=:0
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical.target
